@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.table {
  background-color: #3f88c5;
  height: 100vh;
  padding-top: 5rem;
}

.container {
  margin: 0 auto;
  width: 40vw;
}

.title {
  color: #fff;
}

.score {
  color: #fff;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 0.5rem;

  background-color: #fffa62;
  width: 40vw;
  padding: 0.5rem;

  border-radius: 0.625rem;
  box-shadow: 0.875rem 0.875rem 0 0 #0004;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  width: 5rem;
  height: 6rem;
  background-color: #ffcf7f;
  border-radius: 0.625rem;

  cursor: pointer;
  color: transparent;

  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
}

.open {
  background-color: #ff9090;
  color: #fff;
  transform: rotateY(0deg);
}